body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #00b7ea 0%,#8503db 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
